*{
  max-width: 1440px;
  margin: 0 auto;
}
/* shared items */
.learn-btn{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  padding: 12px 20px 12px 20px;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  background-color: transparent;

}

/* fonts */
.azeret-mono {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
  }

  /* nav designs */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  .nav-name {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 28px;
    font-weight: 800;
    line-height: 33px;
    letter-spacing: 0%;
    text-align: left;
    margin-left: 150px;
  }

  .nav-btn{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 24px 17px 24px;
    opacity: 0.8;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    margin-right: 150px;
    background: rgb(255, 255, 255);
  }

  /* main hero section */
  #hero {
    margin-bottom: 74px;
    max-height: 652px;
    background-image: url('../images/Hero-bg.png');
    background-repeat: no-repeat;
    text-align: center;
    align-items: center;
  }
  .hero-main{
    max-width: 998px;
    margin: 0 auto;
  }

  .hero-head{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 24px;
  }
  .hero-text{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;

  }
  .hero-btn{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 21px 24px;
    margin-top: 32px;
    margin-bottom: 45px;

  }
  /* skill shared items */
  .skill-description-size{
    max-width: 477px;
    max-height: 219px;
  }
  .s-head {
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left; 
  }
  .s-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    opacity: 0.7;

  }

  /* skill section */
  .skills {
    max-width: 1140px;
    margin: 0 auto;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
    
  }
 
  .skill-header{
    color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  }
  .skill-text{
  color: rgb(13, 19, 33);
  font-family: Azeret Mono;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;

  }
  .skill-one{
    margin-bottom: 32px;
    display: flex;
    padding: 48px;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }
  .skill-two{
    margin-bottom: 32px;
    display: flex;
    padding: 48px;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);

  }
  .skill-three{
    display: flex;
    padding: 48px;
    justify-content: space-between;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
  }